.left-sidebar{
    background-color: #142a20;
    padding-top: 22px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    width: 232px;
}
button.dropdown-item {
     background-color: #142a20;
    color: white;
}
a{
    text-decoration: none;
}