.left-sidebar{
    background-color: #142a20;
    padding-top: 22px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    width: 232px;
    height: 100vh;
}
button.dropdown-item {
     background-color: #142a20;
    color: white;
}
a{
    text-decoration: none;
}
/* for Tablet */
@media(max-width:992px){
    .left-sidebar{
        width:210px;
        height: 100vh;
    }
}
@media(max-width:768px){
    .left-sidebar{
        width:65px !important;
        height: 100vh;
    }
}